@font-face {
  font-family: 'Doner-Display';
  font-weight: 500;
  src: url('../assets/fonts/woff2/Doner-MediumDisplay.woff2') format('woff2'),
       url('../assets/fonts/otf/Doner-MediumDisplay.otf') format('otf');
}

@font-face {
  font-family: 'Doner-Text';
  font-weight: 500;
  src: url('../assets/fonts/woff2/Doner-MediumText.woff2') format('woff2'),
       url('../assets/fonts/otf/Doner-MediumText.otf') format('otf');
}

@font-face {
  font-family: 'Doner-Text';
  font-weight: 600;
  src: url('../assets/fonts/woff2/Doner-SemiBoldText.woff2') format('woff2'),
       url('../assets/fonts/otf/Doner-SemiBoldText.otf') format('otf');
}

@font-face {
  font-family: 'Doner-Text';
  font-weight: 700;
  src: url('../assets/fonts/woff2/Doner-BoldText.woff2') format('woff2'),
       url('../assets/fonts/otf/Doner-BoldText.otf') format('otf');
}

@font-face {
  font-family: 'Doner-Display';
  font-weight: 800;
  src: url('../assets/fonts/woff2/Doner-ExtraBoldDisplay.woff2') format('woff2'),
       url('../assets/fonts/otf/Doner-ExtraBoldDisplay.otf') format('otf');
}