.plane{
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  position: relative;
  background-color:var(--beige-100);
}

.name{
  font-size: clamp(10rem, 10vw, 15rem);
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'Doner-Display', sans-serif;
  color: var(--beige-200);
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0;
  line-height: 0.9;
  margin: 0 auto;
  width: fit-content;
  height: auto;
}

.firstname, .lastname{
  opacity: 0;
}

.hidden {
  display: none;
}

.firstname{
  margin-left: -12rem;
  width: fit-content;
  animation: fadeIn 2s ease-in-out 4s, slideInLeft 1.2s ease-in-out 3.8s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  transform: translateX(-10%);
}

.lastname{
  margin-right: -12rem;
  animation: fadeIn 2s ease-in-out 4.5s, slideInRight 1.2s ease-in-out 4.2s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  transform: translateX(10%);
}

.scrollIcon {
  opacity: 0;
  position: absolute;
  left: 50%;
  bottom: 0.5rem;
  animation: fadeIn 2s ease-in-out 4s, bounce 4s ease-in-out infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
  transform: translateX(-50%);
}

@media (max-width: 900px) {
  .name {
    font-size: 8rem;
  }

  .firstname {
    margin-left: -8rem;
  }

  .lastname {
    margin-right: -8rem;
  }
}

@media (max-width: 768px) {
  .name {
    font-size: 6rem;
  }

  .firstname {
    margin-left: -6rem;
  }

  .lastname {
    margin-right: -6rem;
  }
}

@media (max-width: 600px) {
  .name {
    color: var(--beige-100);
    font-size: calc(48px + (96 - 48) * ((100vw - 300px) / (600 - 300)));
  }

  .firstname, .lastname {
    animation: none;
    opacity: 1;
    margin: 0;
    transform: none;
    text-align: center;
  }
}


@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes slideInLeft{
  0%{
    transform: translateX(-10%);
  }
  100%{
    transform: translateX(0);
  }
}

@keyframes slideInRight{
  0%{
    transform: translateX(10%);
  }
  100%{
    transform: translateX(0);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  25% {
    transform: translateX(-50%) translateY(-10px);
  }
  50% {
    transform: translateX(-50%) translateY(0);
  }
  75% {
    transform: translateX(-50%) translateY(-10px);
  }
}